<ion-content>
  <div id="header">
    
  </div>
 


  <div class="fomulario">
    <ion-card class="form">
      <ion-card-content>
        <div class="ion-text-center">
          <img src="assets\icon\logo.png"  width="170px" alt="">
        </div>
        
       
        <ion-item>
          <ion-input labelPlacement="stacked"  placeholder="Usuario" maxlength="8" [(ngModel)]="recuperar.usuario">
            <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon> 
          </ion-input>
          
        </ion-item>
        <ion-button id="ingresar" expand="block" shape="round"  (click)="validar(this.recuperar)">Recuperar</ion-button>
        
        

      
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>








  