<ion-content>
  <router-outlet>
  <div id="header"></div>

  <div class="fomulario">
    <ion-card class="form">
      <ion-card-content>
        <div #logoWrapper class="logo-wrapper ion-text-center">
          <img #logoImage src="assets/icon/logo.png" width="170px" alt="Logo">
        </div>
        
        <ion-item>
          <ion-input labelPlacement="stacked" placeholder="Usuario" maxlength="8" [(ngModel)]="login.usuario">
            <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon> 
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="Contraseña" maxlength="4" [(ngModel)]="login.password" (ionInput)="valNumPass($event)">
            <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>

        <ion-button expand="block" shape="round" (click)="ingresar()">Ingresar</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="registro">
      <ion-card-content>
        <ion-button expand="block" shape="round" [routerLink]="['/login/registro']">Registrate</ion-button>
        <div class="ion-text-center" style="margin-top: 10px;">
          <a href="/recuperar">Recuperar contraseña</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  </router-outlet>
</ion-content>
