<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center">
    <ion-title>Skeleton App</ion-title>
    <p>Aquí comienza todo</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TeLLevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Iniciar sesión</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text">

      

      <ion-input labelPlacement="stacked"  placeholder="Usuario" maxlength="8" [(ngModel)]="login.usuario">
        <ion-icon slot="start" name="person" aria-hidden="true"></ion-icon>
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
      
        </ion-button>
      </ion-input>

      
          <ion-input labelPlacement="stacked"  placeholder="Contraseña"  maxlength="4" [(ngModel)]="login.password" (ionInput)="valNumPass($event)">
            <ion-icon slot="start" name="lock-closed" aria-hidden="true"></ion-icon>
            <ion-button fill="clear" slot="end" aria-label="Hide/Show">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-button>
          </ion-input>
      
      
      <ion-button (click)="ingresar()" id="ingresar">Ingresar</ion-button>
    </ion-card-content>

    
    
  <ion-card-content class="ion-text">
    <p style="text-decoration: underline; color: blue;">Crea tu cuenta gratis</p>
  </ion-card-content>

  </ion-card>
</ion-content>
