
ion-content{
    --background:white;
    
        #header{
            height: 33%;
            background-color:#105b63;
            border-radius: 0 0 20px 20px;
            display: column;
            color: white;
            padding: 20px;
        }
        #logo{
           width: 100px;
           height: 100px;
           background-color: white;
           display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 50px;
           align-self: center; 
    
        }
        .fomulario{
            position: absolute;
            top: 26%;
            left: 4%;
            right: 4%;
            .form{
                border-radius: 20px;
                padding: 15px 10px;
                ion-item{
                   margin-bottom: 15px;
                   border-radius: 5px;
                }
                ion-button {
                    margin-top: 25px;
                }
            }
        }
        .registro{
            border-radius: 20px;
        }
    
    } 