<ion-content>
    <h2>Ajustes de Zoom</h2>
<div class="ion-padding">
  <ion-item>
    <ion-label>Nivel de Zoom</ion-label>
    <ion-range
      min="0.5"
      max="2"
      step="0.1"
      snaps="true"
      [(ngModel)]="currentZoom"
      (ionChange)="setZoom(currentZoom)"
    >
      <ion-label slot="start">50%</ion-label>
      <ion-label slot="end">200%</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Nivel Actual: {{ (currentZoom * 100) | number }}%</ion-label>
  </ion-item>
</div>
</ion-content>
