
   h2{
    font-size: 24px;
    color: #333333;
    margin-bottom: 15px;
    text-align: center;
   }
  ion-content {
    --background: #f0f0f5;
    padding: 16px;
  }
  
  ion-item {
    background-color: #fff; 
    margin: 10px 0;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ion-label {
    font-weight: 500;
    font-size: 1rem;
  }
  
  ion-range {
    --bar-background-active: var(--ion-color-primary); 
    --bar-background: #ccc; 
    --knob-background: var(--ion-color-secondary); 
  }
  
  ion-label[slot="start"],
  ion-label[slot="end"] {
    font-size: 0.9rem;
    color: white;
  }
  
  ion-label[nivel-actual] {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--ion-color-primary);
    margin-top: 10px;
  }
  