<ion-content>
  <div *ngIf="reservas.length === 0">
    <p>No tienes reservas.</p>
  </div>

  <div *ngIf="reservas.length > 0">
    <ul>
      <li *ngFor="let reserva of reservas">
        <strong>Nombre del pasajero: {{ reserva.usuarioNombre }}</strong> <br>
        <strong>Destino: {{ viajes[reserva.viajeID]?.destino }}</strong>  <br>
        <strong>Hora: {{ viajes[reserva.viajeID]?.hora }} </strong>  <br>
        <strong>Precio: {{ viajes[reserva.viajeID]?.precio }}</strong>  <br>
        <ion-button (click)="eliminarReserva(reserva)">
          Eliminar Reserva
        </ion-button>
      </li>
    </ul>
  </div>
</ion-content>
