ion-content {
    --background: #ffffff; 
    padding: 20px;
  }
  
  ion-searchbar {
    --background: #f0f0f0; /* Fondo gris claro para el buscador */
    --placeholder-color: black; /* Color del texto placeholder */
    color: #333333;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 24px;
    color: #333333; /* Color de título más oscuro */
    margin-bottom: 15px;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;

  }
  
  li {
    background-color: #f9f9f9;
    border: 2px solid #dddddd;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    color: #333333;
    
  }
  
  
  p {
    color: #666666; 
    font-size: 16px;
  }
  
  ion-button {
    color: white;
    margin-left: 100px;
    margin-right: 100px;
  }