<ion-content>
  <div>


    <ion-searchbar 
      show-clear-button="focus" 
      [(ngModel)]="buscar" 
      (ionInput)="filtrarViajes()" 
      placeholder="Busca tu destino">
    </ion-searchbar>
    
    <div>

      <h2>¿A dónde quiere ir hoy?</h2>
      <div style="text-align: center;"><ion-button (click)="mostrarFormularioNuevoViaje()">Agregar Viaje</ion-button></div>
      <ul>
        <li *ngFor="let viaje of filtroViajes">
          <strong>Destino:</strong> {{ viaje.destino }} <br>
          <strong>Hora:</strong> {{ viaje.hora }} <br>
          <strong>Precio:</strong> ${{ viaje.precio }} <br>
          <strong>Patente:</strong> {{ viaje.patente }} <br>
          <strong>Cupo:</strong> {{ viaje.cupo }} <br>
          
        </li>
      </ul>
    </div>
    
    <div *ngIf="filtroViajes.length === 0">
      <p>No hay viajes disponibles.</p>
    </div>

    

  </div>
</ion-content>
