
<ion-content>
<div>

  <ion-searchbar  placeholder="Buscar"></ion-searchbar>
    <div>
      <h2 >¿A dónde quieres ir hoy?</h2>
      <ul>
        <li *ngFor="let viaje of viajes">
          <strong>Destino:</strong> {{ viaje.destino }} <br>
          <strong>Hora:</strong> {{ viaje.hora }} <br>
          <strong>Precio:</strong> ${{ viaje.precio }} <br>
        </li>
      </ul>
    </div>
    
    <div *ngIf="viajes.length === 0">
      <p>No hay viajes disponibles.</p>
    </div>

</div>

</ion-content>