
ion-menu {
    --background: white ; 
  }
  
  ion-menu ion-content {
    --background: white ; 
  }

  ion-item {
    --background:  white ; 
    --border-color: #e0e0e0; 
  }
  ion-button {
    --color: #333333; 
  }
  
  ion-icon {
    margin-right: 20px; 
    color: #333333;
  }

  ion-title {
    font-size: 22px;
    color:white;
  }
  