<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="person"></ion-icon>
          Perfil
        </ion-tab-button>
        <ion-tab-button tab="radio">
          <ion-icon name="chatbubble-ellipses"></ion-icon>
          Chat
        </ion-tab-button>
        <ion-tab-button tab="ruta">
          <ion-icon name="cash"></ion-icon>
          Pago
        </ion-tab-button>
        <ion-tab-button tab="search">
          <ion-icon name="car-sport"></ion-icon>
          Ruta
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
