<ion-content >
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title color="secondary">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list >

      <ion-item >
       <ion-button  [routerLink]="['/home/usuario']" fill="clear"> <ion-icon name="person"></ion-icon> Perfil</ion-button>
      </ion-item>

      <ion-item *ngIf="isPasajero()">
        <ion-button  [routerLink]="['/home/ruta']" fill="clear" > <ion-icon name="car-sport"></ion-icon>Viaje</ion-button>
      </ion-item>

      <ion-item *ngIf="isConductor()">
        <ion-button  [routerLink]="['/home/administrar-viaje']" fill="clear" > <ion-icon name="create"></ion-icon>Administrar Viaje</ion-button>
      </ion-item>

      <ion-item *ngIf="isPasajero()">
        <ion-button  [routerLink]="['/home/reserva']" fill="clear" > <ion-icon name="reader-outline"></ion-icon>Reserva</ion-button>
      </ion-item>

      <ion-item *ngIf="isConductor()">
        <ion-button  [routerLink]="['/home/administrar-reserva']" fill="clear" > <ion-icon name="reader-outline"></ion-icon>Administrar reservas</ion-button>
      </ion-item>
      <ion-item>
        <ion-button  [routerLink]="['/home/ajustes']" fill="clear" > <ion-icon name="settings-outline"></ion-icon>Ajustes</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="datosService.logout()"  fill="clear" >  <ion-icon name="exit"></ion-icon> Cerrar sesion</ion-button>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-menu>


<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title  >Bienvenido, {{ nombre }}</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
 
<ion-content class="ion-padding">
  <ion-tabs>
    
  </ion-tabs>
</ion-content>
</div>
</ion-content>


