<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="https://bebesit.cl/cdn/shop/files/p-bb6050em2988r-1-c3eb8155-e1b2-4825-b6ef-4ddbf0c54d64_dbfe376d-904d-4fcd-acf3-6c2304385719_1500x1500.jpg?v=1724091098" alt="">

  <div><a href="/programar">programar viaje</a></div>
  <div><a href="/buscar">buscar viaje</a></div>
</ion-content>
